.header {
  background-color: var(--gray-50);
}

.brand {
  font: 700 1.35rem Oxygen, sans-serif;
  width: 15%;
}

.navBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1080px) {
  .brand {
    width: 30%;
  }
}

@media (max-width: 720px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .navBarContent {
    display: flex;
    flex-direction: column;
  }

  .brand {
    width: 100%;
    text-align: center;
  }
}
